html {
  scroll-behavior: smooth;
}
body{
  overflow: scroll !important;
  /* font-family: 'Allura', cursive; */
/* font-family: 'Candal', sans-serif; */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Signika Negative', sans-serif; */
}
*::-webkit-scrollbar {
  width: .6rem;
  height: .6rem;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  box-shadow: inset 0 0 6px #EBEBEB;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #b5b3b3;
  border-radius: 200px;
}
.Header svg {
  fill: #193db0;
}
.Header .offcanvas-title svg {
  fill: #5b5b5b;
  width: 9rem;
}
.iconUP{
  position: fixed !important ;
  bottom: 5%!important;
  right: 3%!important;
  border-radius:50%;
  background:#3B69FE;
  padding:.2rem .2rem;
  width: 3rem ;
  opacity: .5;
  height: 3rem;
  z-index: 9999;
  transition : all ease-in-out 0.3s;
  cursor: pointer;
  font-size: 2.5rem;
  color: aliceblue;
  &:hover{
    transform: scaleX(.94)  translateY(-1%);
    opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
  .Header svg {
    width: 143px;
  }
  .main div {
    background-size: 900px 500px;
    background-repeat: no-repeat;
  }
  .offcanvas.offcanvas-end {
    width: 80% !important;
  }
}

@media only screen and (min-width: 601px) {
  .Header svg {
    width: 207px;
  }
}
@media only screen and (min-width: 768px) {
  .Header svg {
    width: 207px;
  }
  .main div {
    background-size: 1800px 1000px;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 992px) {
  .Header svg {
    width: 254px;
  }
  .main div {
    background-size: 2700px 1500px;
    background-repeat: no-repeat;
  }
}
